<section>
    <form action="/admin/insert" method="post" enctype="multipart/form-data">
        Título:
        <input type="text" name="titulo" id="titulo">
        Texto:
        <textarea name="texto" id="texto" cols="30" rows="10"></textarea>
        <input type="file" name="image" id="image" accept="image/">
        <input type="submit" value="Adicionar Post">
    </form>
</section>