<section>
    <form action="/admin/login" method="post">
        Usuário
        <input type="text" name="usuario" id="usuario">
        Senha
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Entrar">
    </form>
</section>