<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <title>Jaqueline Cristóvão</title>
</head>
<body>
    <!-- Menu de Navegação -->
    <header>
        <a href="/"><img src="imagens/logoblack.png" alt="Logo"></a>
        <nav>
            <a href="/">Inicio</a>
            <a href="/sobre">Sobre</a>
            <a href="/blog">Blog</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        © Todos os direitos reservados - Jaqueline Juliana Gonçalves Cristóvão - Advogada em Florianópolis /SC
    </footer>
</body>
</html>