<section id="sobre">
    <h4>Jaqueline Juliana Gonçalves Cristóvão</h4>
    Advogada, graduada pela Universidade Estácio de Sá de São José em Santa Catarina em 2019 e Pós-Graduada em Direito Previdenciário pela EBRADI Escola de Brasileira de Direito em 2020.<br>
    Advocacia voltada para o Direito previdenciário, com a missão de encontrar o melhor benefício junto ao INSS demonstrando e ajudando o percurso em que deve ser percorrido.<br>
    Traz conteúdos de interesse tanto para os segurados quanto para os colegas operadores de direito para que de alguma forma estas informações venham contribuir no desenvolvimento de uma sociedade que tem seus direitos e prerrogativas alcançados.<br>
    <br>
    - PLANEJAMENTO PREVIDENCIÁRIO<br>
    - APOSENTADORIAS<br>
    - BENEFÍCIOS<br>
    - REVISÕES<br>
</section>